In [2]:
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px
import numpy as np

In [45]:
inflation = pd.read_csv('inflatie.csv')
inflation.drop('Flag Codes', axis=1, inplace=True)
inflation.drop('FREQUENCY', axis=1, inplace=True)

In [53]:
pd.DataFrame.head(inflation, n=5)

  LOCATION INDICATOR SUBJECT MEASURE  TIME      Value
0      AUS       CPI    ENRG  AGRWTH  1972   4.910070
1      AUS       CPI    ENRG  AGRWTH  1973   3.762801
2      AUS       CPI    ENRG  AGRWTH  1974  13.173540
3      AUS       CPI    ENRG  AGRWTH  1975  19.422470
4      AUS       CPI    ENRG  AGRWTH  1976   8.833195

In [73]:
countries = ['NLD', 'CHL', 'CHN', 'PRT', 
             'ZAF', 'CHE', 'CAN', 'SAU', 
             'NZL', 'JAP','IND']
time = ['2020', '2022']
subject = ['IDX2015']
sub = ['TOT']
inflatie = inflation[inflation['TIME'].isin(time)]
inflation2 = inflatie[inflatie['LOCATION'].isin(countries)]
inflation_def = inflation2[inflation2['MEASURE'].isin(subject)]
inflation_tot = inflation_def[inflation_def['SUBJECT'].isin(sub)]
pd.DataFrame.head(inflation_tot, n=20)

       LOCATION INDICATOR       SUBJECT  MEASURE  TIME      Value
146040      CAN       CPI          ENRG  IDX2015  2020   98.50014
146042      CAN       CPI          ENRG  IDX2015  2022  143.46810
146102      CAN       CPI          FOOD  IDX2015  2020  107.01760
146104      CAN       CPI          FOOD  IDX2015  2022  120.04370
146211      CAN       CPI           TOT  IDX2015  2020  108.21040
146213      CAN       CPI           TOT  IDX2015  2022  119.49570
146273      CAN       CPI  TOT_FOODENRG  IDX2015  2020  109.21990
146275      CAN       CPI  TOT_FOODENRG  IDX2015  2022  117.51950
149306      NLD       CPI          ENRG  IDX2015  2020  103.69830
149308      NLD       CPI          ENRG  IDX2015  2022  207.40670
149368      NLD       CPI          FOOD  IDX2015  2020  110.74250
149370      NLD       CPI          FOOD  IDX2015  2022  122.38580
149430      NLD       CPI           TOT  IDX2015  2020  107.51000
149432      NLD       CPI           TOT  IDX2015  2022  121.42670
149492      NLD       CPI  TOT_FOODENRG  IDX2015  2020  107.42450
149494      NLD       CPI  TOT_FOODENRG  IDX2015  2022  114.13670
149560      NZL       CPI          ENRG  IDX2015  2020  105.97220
149562      NZL       CPI          ENRG  IDX2015  2022  130.48690
149623      NZL       CPI          FOOD  IDX2015  2020  105.66420
149625      NZL       CPI          FOOD  IDX2015  2022  116.83360

In [74]:
# inflation_def.to_csv('inflation_def.csv')

In [75]:
inflation_tot.to_csv('inflation_tot.csv')